@{
    ViewBag.Title = "Blog1";
}
@*<link href="@Url.Content("~/MYNEWCSS.css")" rel="stylesheet" type="text/css" />*@
@Html.Partial("_BlogSource")
<div class="card-demo">
    <div class="carded" style="padding-left:50px">
        <div class="card-header">
            <h1 class="card-title">Card title</h1>
            <small class="card-subtitle">Praesent commodo cursus magna scelerisque consectetur</small>
        </div>
        <img class="card-img-top" src="~/Content/_mytemplate/demo/img/headers/1.png" style="width:95%; padding-left: 20px;">
        <div class="card-block">
            <p class="blog-detail">Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed.</p>
        </div>
        @*<div class="card-footer">
            <div class="card-tags">
                <span class="blog-card">Global</span>
            </div>
            <span class="read-more">Read More</span>
        </div>*@
    </div>
</div>
