@{
    ViewBag.Title = "Blog2";
}
@Html.Partial("_BlogSource")
<div class="card-demo">
    <div class="card">
        @*<img class="card-img" src="~/Content/_mytemplate/img/sidebar/clear.png" style="height:290px">*@
            <div class="card-header">
                <h2 class="card-title">Card title</h2>
                <small class="card-subtitle">Praesent commodo cursus magna scelerisque consectetur.</small>
            </div>
            <div class="card-block">
                <p class="blog-detail">
                        Lorem ipsum dolor sit amet, nibh eleifend cu his, porro fugit mandamus no mea. Sit tale facete voluptatum ea, ad sumo altera scripta per, eius ullum feugait id duo. At nominavi pericula persecuti ius, sea at sonet tincidunt, cu posse facilisis eos. Aliquid philosophia contentiones id eos, per cu atqui option disputationi, no vis nobis vidisse. Eu has mentitum conclusionemque, primis deterruisset est in.

                        Virtute feugait ei vim. Commune honestatis accommodare pri ex. Ut est civibus accusam, pro principes conceptam ei, et duo case veniam. Partiendo concludaturque at duo. Ei eirmod verear consequuntur pri. Esse malis facilisis ex vix, cu hinc suavitate scriptorem pri.

                        Nullam id dolor id nibh ultricies vehicula ut id elit. Nulla vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. Donec sed odio dui.
                        Nullam id dolor id nibh ultricies vehicula ut id elit. Nulla vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. Donec sed odio dui.
                        Nullam id dolor id nibh ultricies vehicula ut id elit. Nulla vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. Donec sed odio dui.
                 </p>
            @*<div class="card-footer">
                <div class="card-tags">
                    <span class="blog-card">Global</span>
                </div>
                <span class="read-more">Read More</span>
            </div>*@
        </div>
    </div>
</div>
