@{
    ViewBag.Title = "Testimony1";
}
@Html.Partial("_BlogSource")
<div class="card-demo" style="margin-top: 75px;">
    <div class="card" style="padding-left: 60px; padding-right: 60px;">
        <center>
            <img class="card-img-top" src="~/Content/_mytemplate/img/sidebar/avatar_250x282.jpg" style="width:15%; padding-left: 20px; padding-top: 5px;">
        </center>
        <div class="card-header">
            <h2 class="card-title">THE GROVE PRIMARY SCHOOL</h2>
            <small class="card-subtitle" style="font-weight: 600;">Trish Trompeter</small>
            <small class="datetext">8 Aug 2017</small>
        </div>
        <div class="card-block">
            <p class="blog-detail">
            The Grove Primary school piloted the Karri App in the 4th term of 2016. This exercise proved its worth immediately.    
            </p>
            <p class="blog-detail">
            In 2017 we launched the Karri App to the whole parent body. The decision was met with loud applause, and we have never looked back. We are working towards being cash free environment and Karri has assisted us in making this a reality.    
            </p>
            <p class="blog-detail">
            The system could not be more straight forward to use, and the benefits are enormous! In particular, the reduction in admin time from the teacher's point of view has been one of our biggest advantages; this benefit extends to the finance office, whose admin and banking preparation time is drastically reduced. Parents have also been entusiastic in their appreciation of the app.   
            </p>
            <p class="blog-detail">
            The support that we have had from the team has been outstanding. If we have ever had queries they are answered so quickly and so many of our requests have been actioned. In particular being able to pay different amounts and via EFT have been fantastic updates.   
            </p>
            <p class="blog-detail">
            We are proud to have partnered with the Karri App. We are sure we will have a long association with them.    
            </p>
        </div>
    </div>
</div>
