@{
    ViewBag.Title = "Testimony1";
}
@Html.Partial("_BlogSource")
<div class="card-demo" style="margin-top: 75px;">
    <div class="card" style="padding-left: 60px; padding-right: 60px;">
        @*<img class="card-img" src="~/Content/_mytemplate/img/sidebar/clear.png" style="height:290px">*@
        <center>
            <img class="card-img-top" src="~/Content/_mytemplate/img/sidebar/badge_large3.png" style="width:15%; padding-left: 20px;">
            </center>
            <div class="card-header">
                <h2 class="card-title">SWEET VALLY PRIMARY SCHOOL</h2>
                <small class="card-subtitle" style="font-weight: 600;">Claudette Kulz</small>
                <small class="datetext">14 Aug 2017</small>
            </div>
            <div class="card-block">
                <p class="blog-detail">
                    Our first Karri event was launched on the 21st June 2017. The item being sold was the brand new school scarf. Within the first few days we had sold the 200 we ordered to start up with.
                </p>
                <p class="blog-detail">
                    The event was opened to the entire parent body. There were a few hiccups when the information imported from Staffroom pulled through incorrectly, but the back-up service and customer support sorted out the problem most efficiently!
                </p>
                <p class="blog-detail">
                    We have already used the Karri App again for a charity event. This time the Teachers were able to be part of the process and use the online chart to watch the status of the payments being made.
                </p>
                <p class="blog-detail">
                    It has certainly made our jobs much easier and of course less cash comes through the office. It is easy to use and to update so throughout the day the information is current.
                </p>
                <p class="blog-detail">
                    We will recommend this App to any school that wants to save time and effort when it comes to effectually running an event.<br />
                    The payment of the monies collected was done timeously and it was easy to reconcile.
                </p>
            </div>
    </div>
</div>
