@{
    ViewBag.Title = "Testimony1";
}
@Html.Partial("_BlogSource")
<div class="card-demo" style="margin-top: 75px;">
    <div class="card" style="padding-left: 60px; padding-right: 60px;">
        <center>
            <img class="card-img-top" src="~/Content/_mytemplate/img/sidebar/150px-Westerfordbadge1.jpg" style="width:15%; padding-left: 20px;">
        </center>
        <div class="card-header">
            <h2 class="card-title">WESTERFORD HIGH SCHOOL</h2>
            <small class="card-subtitle" style="font-weight: 600;">Karen Williams</small>
            <small class="datetext">15 May 2017</small>
        </div>
        <div class="card-block">
            <p class="blog-detail">
            Westerford High School introduced the Karri App to our Grade 8 parents, teachers and admin staff in February 2017 with much excitement.    
            </p>
            <p class="blog-detail">
            Since then we have successfully introduced Karri to the rest of the parent body. We are confident that more parents will come on board as the word spreads. Karri is helping us achieve that cash free environment that all schools are striving for.
            </p>
            <p class="blog-detail">
            The application is very user friendly. Parents can easily download the app onto their smartphones and the collection process is managed by the school admin via Dashboard. We have a dedicated Karri admin clerk which saves time for teachers as well as the finance department. The facility to update other methods of payment(EFT and Cash) on the Karri dashboard makes the reconciliation of payments easier and the reimbursement of the one amount by Karri, aids the banking process. 
            </p>
            <p class="blog-detail">
            The support that we have received from the Karri team has been fantastic. All of the our queries have been dealt with promptly and professionally.   
            </p>
            <p class="blog-detail">
            We are proud to champion the Karri App and the look forward to a long and successful relationship with them.    
            </p>
        </div>
    </div>
</div>

